
services:
  superset:
    build: .
    container_name: superset
    restart: always
    ports:
      - "8088:8088"
    volumes:
      - ../data:/opt/airflow/data
      - ./superset_config.py:/app/superset_config.py
      - ../dbt:/app/dbt
      - ../data:/app/data 
    environment:
      - SUPERSET_SECRET_KEY=supersecretkey
    command: >
      /bin/bash -c "
      superset db upgrade && 
      superset fab create-admin --username admin --firstname Superset --lastname Admin --email admin@superset.com --password admin &&
      superset init &&
      superset run  -h 0.0.0.0 -p 8088 --with-threads --reload --debugger
      "
